<!DOCTYPE HTML>
<html>
<head>
    <title>BookClub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/app/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow-lg">
    <a class="navbar-brand" href="/">BookClub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/studys/open" class="nav-link">스터디 게시판</a>
            </li>
            <li class="nav-item">
                <a href="/books/bestseller" class="nav-link">도서 검색</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#account}}
                <li class="nav-item">
                    <a href="/studys/save" class="nav-link">스터디 생성</a>
                </li>
                <li class="nav-item">
                    <a href="/users/update/{{id}}" class="nav-link">정보수정</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">로그아웃</a>
                </li>
            {{/account}}
            {{^account}}
                <li class="nav-item">
                    <a href="/login" class="nav-link">로그인</a>
                </li>
                <li class="nav-item">
                    <a href="/users/save" class="nav-link">회원가입</a>
                </li>
            {{/account}}
        </ul>
    </div>
</nav>
