{{>layout/header}}
<style type="text/css">

    body {
        font-family: "Aller", "sans-serif";
    }

    a:-webkit-any-link {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    .img-wrapper {
        text-align: center;
        border: 0.1em solid #ccc;
        border-radius: 0.4em;
        background-color: #f3f3f3;
        box-shadow: 0.1em 0.1em 0.5em -0.2em #777;
        width: 225px;
        margin: 50px 5px;
    }

    .img-wrapper:hover {
        transform:scale(1.2);
        transition: 0.5s;
    }

    img {
        border-radius: 0.4em 0.4em 0 0;
    }

    .gallery-wrapper ul li{
        display: inline-block;
        margin: 5px 10px;
    }

    h4 {
        width: 100%;
        text-align: center;
        font-size: 0.5em;
        margin: 0;
        padding: 0.5em 0;
        font-weight: bold;
        color: black;
    }
</style>

<div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/books/bestseller">베스트셀러</a></li>
                    <li class="list-group-item"><a href="/books/recommend">추천도서</a></li>
                    <li class="list-group-item"><a href="/books/new">신간도서</a></li>
                </ul>
            </div>
        </div>
        <div class="card shadow col-md-10">
            <div class="card-body">
                <h4 class="card-title">{{bookType}}</h4>
                <div class="gallery-wrapper">
                    <ul>
                        {{#book}}
                            <li>
                                <div class="img-wrapper">
                                    <img src="{{coverLargeUrl}}" alt="">
                                    <div class="title">
                                        <h4>{{title}}</h4>
                                        <h4>{{pubDate}}</h4>
                                    </div>
                                </div>
                            </li>
                        {{/book}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
