{{>layout/header}}
<style>
    body {
        background-color: #f7f6f6
    }

    .card {
        border: none;
        box-shadow: 5px 6px 6px 2px #e9ecef;
        border-radius: 4px
    }

    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block
    }

    .badge {
        padding: 7px;
        padding-right: 9px;
        padding-left: 16px;
        box-shadow: 5px 6px 6px 2px #e9ecef
    }

    .user-img {
        margin-top: 4px
    }

    .check-icon {
        font-size: 17px;
        color: #c3bfbf;
        top: 1px;
        position: relative;
        margin-left: 3px
    }

    .form-check-input {
        margin-top: 6px;
        margin-left: -24px !important;
        cursor: pointer
    }

    .form-check-input:focus {
        box-shadow: none
    }

    .icons i {
        margin-left: 8px
    }

    .reply {
        margin-left: 12px
    }

    .reply small {
        color: #b7b4b4
    }

    .reply small:hover {
        color: green;
        cursor: pointer
    }
</style>
<h1>스터디 조회</h1>

<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="id"> 스터디 번호 </label>
                <input type="text" class="form-control" id="id" value="{{study.id}}"  readOnly>
            </div>
            <div class="form-group">
                <label for="name"> 스터디 이름 </label>
                <input type="text" class="form-control" id="name" value="{{study.name}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookName"> 스터디 책 </label>
                <input type="text" class="form-control" id="bookName" value="{{study.bookName}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookImage"></label>
                <img src="{{study.bookImage}}" id="bookImage" alt="">
            </div>
            <div class="form-group">
                <label for="description"> 설명 </label>
                <input type="text" class="form-control" id="description" value="{{study.description}}" readOnly>
            </div>
            <div class="form-group">
                <label for="contact"> 연락처 </label>
                <input type="text" class="form-control" id="contact" value="{{study.contact}}" readOnly>
            </div>
            <div class="form-group">
                <label for="size"> 인원 제한 </label>
                <input type="number" class="form-control" id="size" value="{{study.size}}" readOnly>
            </div>
            <div class="form-group">
                <label for="startDate"> 시작 날짜 </label>
                <input type="date" class="form-control" id="startDate" value="{{study.startDate}}" readOnly>
            </div>
            <div class="form-group">
                <label for="endDate"> 종료 날짜 </label>
                <input type="date" class="form-control" id="endDate" value="{{study.endDate}}" readOnly>
            </div>
            <div class="form-group">
                <label for="day"> 요일 </label>
                <input type="text" class="form-control" id="day" value="{{day}}" readOnly>
            </div>
            <div class="form-group">
                <label for="startTime"> 시작 시간 </label>
                <input type="time" class="form-control" id="startTime" value="{{study.startTime}}" readOnly>
            </div>
            <div class="form-group">
                <label for="endTime"> 종료 시간 </label>
                <input type="time" class="form-control" id="endTime" value="{{study.endTime}}" readOnly>
            </div>
            <div class="form-group">
                <label for="studyState"> 스터디 모집 상황 </label>
                <input type="text" class="form-control" id="studyState" value="{{studyState}}" readOnly>
            </div>
            <div class="form-group">
                <label for="zone"> 지역 </label>
                <input type="text" class="form-control" id="zone" value="{{zone}}" readOnly>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">돌아가기</a>
        {{#account}}
            {{^study}}
                <button type="button" class="btn btn-primary" id="btn-apply-study">신청</button>
            {{/study}}
        {{/account}}
        {{#studyApplier}}
            <button type="button" class="btn btn-danger" id="btn-cancel-study">신청 취소</button>
        {{/studyApplier}}
        {{#studyAdmin}}
            <button type="button" class="btn btn-warning" onclick="location.href='/studys/update/{{id}}'">수정</button>
        {{/studyAdmin}}
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h5>댓글 수(6)</h5>
                </div>
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">james_olesenn</small> <small class="font-weight-bold">Hmm, This poster looks cool</small></span> </div> <small>2 days ago</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                        <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                    </div>
                </div>
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/C4egmYM.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">olan_sams</small> <small class="font-weight-bold">Loving your work and profile! </small></span> </div> <small>3 days ago</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                        <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                    </div>
                </div>
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/0LKZQYM.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">rashida_jones</small> <small class="font-weight-bold">Really cool Which filter are you using? </small></span> </div> <small>3 days ago</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                        <div class="icons align-items-center"> <i class="fa fa-user-plus text-muted"></i> <i class="fa fa-star-o text-muted"></i> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                    </div>
                </div>
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">simona_rnasi</small> <small class="font-weight-bold text-primary">@macky_lones</small> <small class="font-weight-bold text-primary">@rashida_jones</small> <small class="font-weight-bold">Thanks </small></span> </div> <small>3 days ago</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                        <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="shadow p-3 bg-white rounded">
                    <div class="mt-5 d-flex flex-row">
                        <img src="https://i.imgur.com/jD4jCW9.png" width="40" height="40">
                        <div class="w-100 ml-2 comment-area">
                            <textarea class="form-control"></textarea>
                            <button class="btn btn-secondary btn-block mt-2 post-btn">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{>layout/footer}}
