{{>layout/header}}
<style>
    body {
        background-color: #f7f6f6
    }

    .card {
        border: none;
        box-shadow: 5px 6px 6px 2px #e9ecef;
        border-radius: 4px
    }

    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block
    }

    .badge {
        padding: 7px;
        padding-right: 9px;
        padding-left: 16px;
        box-shadow: 5px 6px 6px 2px #e9ecef
    }

    .user-img {
        margin-top: 4px
    }

    .check-icon {
        font-size: 17px;
        color: #c3bfbf;
        top: 1px;
        position: relative;
        margin-left: 3px
    }

    .form-check-input {
        margin-top: 6px;
        margin-left: -24px !important;
        cursor: pointer
    }

    .form-check-input:focus {
        box-shadow: none
    }

    .icons i {
        margin-left: 8px
    }

    .reply {
        margin-left: 12px
    }

    .reply small {
        color: #b7b4b4
    }

    .reply small:hover {
        color: green;
        cursor: pointer
    }
</style>
<script>
    function toggleLike(likeId, likeCountId, commentId) {
        const studyId = $(".id").val();
        let likeIcon = $("#"+likeId+commentId);
        let likeCount = $("#"+likeCountId+commentId);

        //좋아요를 누를 경우
        if(likeIcon.hasClass("far")) {
            $.ajax({
                type: 'POST',
                url: `/api/study/comment/${commentId}/like`,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.addClass("fas");
                likeIcon.removeClass("far");
                likeCount.html(Number(likeCount.html()) + 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }

        //좋아요 취소를 할 경우
        else if(likeIcon.hasClass("fas")) {
            $.ajax({
                type: 'DELETE',
                url: `/api/study/comment/${commentId}/unlike`,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.removeClass("fas");
                likeIcon.addClass("far");
                likeCount.html(Number(likeCount.html()) - 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }
    }

    function toggleFavorite(favoriteId, id) {
        let favoriteIcon = $("#" + favoriteId + id);

        //즐겨찾기를 추가할 경우
        if (favoriteIcon.hasClass("far")) {
            $.ajax({
                type: 'POST',
                url: `/api/study/${id}/favorite/`,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                favoriteIcon.addClass("fas");
                favoriteIcon.removeClass("far");
            }).fail(function (request) {
                alert(request.responseText);
            });
        }

        //즐겨찾기를 취소 할 경우
        else if (favoriteIcon.hasClass("fas")) {
            $.ajax({
                type: 'DELETE',
                url: `/api/study/${id}/favorite`,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                favoriteIcon.removeClass("fas");
                favoriteIcon.addClass("far");
            }).fail(function (request) {
                alert(request.responseText);
            });
        }
    }
</script>
<h1>스터디 조회</h1>

<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="id"> 스터디 번호 </label>
                <input type="text" class="form-control" id="id" value="{{detailedStudy.studyResultDto.id}}"  readOnly>
            </div>
            <div class="form-group">
                <label for="name"> 스터디 이름 </label>
                <input type="text" class="form-control" id="name" value="{{detailedStudy.studyResultDto.name}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookName"> 스터디 책 </label>
                <input type="text" class="form-control" id="bookName" value="{{detailedStudy.studyResultDto.bookName}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookImage"></label>
                <img src="{{detailedStudy.studyResultDto.bookImage}}" id="bookImage" alt="">
            </div>
            <div class="form-group">
                <label for="description"> 설명 </label>
                <input type="text" class="form-control" id="description" value="{{detailedStudy.studyResultDto.description}}" readOnly>
            </div>
            <div class="form-group">
                <label for="contact"> 연락처 </label>
                <input type="text" class="form-control" id="contact" value="{{detailedStudy.studyResultDto.contact}}" readOnly>
            </div>
            <div class="form-group">
                <label for="size"> 인원 제한 </label>
                <input type="number" class="form-control" id="size" value="{{detailedStudy.studyResultDto.size}}" readOnly>
            </div>
            <div class="form-group">
                <label for="startDate"> 시작 날짜 </label>
                <input type="date" class="form-control" id="startDate" value="{{detailedStudy.studyResultDto.startDate}}" readOnly>
            </div>
            <div class="form-group">
                <label for="endDate"> 종료 날짜 </label>
                <input type="date" class="form-control" id="endDate" value="{{detailedStudy.studyResultDto.endDate}}" readOnly>
            </div>
            <div class="form-group">
                <label for="day"> 요일 </label>
                <input type="text" class="form-control" id="day" value="{{day}}" readOnly>
            </div>
            <div class="form-group">
                <label for="startTime"> 시작 시간 </label>
                <input type="time" class="form-control" id="startTime" value="{{detailedStudy.studyResultDto.startTime}}" readOnly>
            </div>
            <div class="form-group">
                <label for="endTime"> 종료 시간 </label>
                <input type="time" class="form-control" id="endTime" value="{{detailedStudy.studyResultDto.endTime}}" readOnly>
            </div>
            <div class="form-group">
                <label for="studyState"> 스터디 모집 상황 </label>
                <input type="text" class="form-control" id="studyState" value="{{studyState}}" readOnly>
            </div>
            <div class="form-group">
                <label for="zone"> 지역 </label>
                <input type="text" class="form-control" id="zone" value="{{zone}}" readOnly>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">돌아가기</a>
        {{#detailedStudy.studyResultDto}}
            <i class="{{#isFavorite}}fas{{/isFavorite}} {{^isFavorite}}far{{/isFavorite}} fa-star" id="Favorite{{id}}"
               style="font-size:24px; color:yellow;" onclick="toggleFavorite('Favorite', {{id}})"></i>
        {{/detailedStudy.studyResultDto}}
        {{#account}}
            {{^study}}
                <button type="button" class="btn btn-primary" id="btn-apply-study">신청</button>
            {{/study}}
        {{/account}}
        {{#studyApplier}}
            <button type="button" class="btn btn-danger" id="btn-cancel-study">신청 취소</button>
        {{/studyApplier}}
        {{#studyAdmin}}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='/studys/update/{{detailedStudy.studyResultDto.id}}'">수정</button>
        {{/studyAdmin}}
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h5>댓글 수({{detailedStudy.studyResultDto.commentsCount}})</h5>
                </div>
                {{#detailedStudy.studyComments}}
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center">
                                {{#uploadFileResultDto}}
                                    <img src="/upload/{{uploadFileResultDto.fileName}}" width="30" height="30" class="user-img rounded-circle mr-2">
                                {{/uploadFileResultDto}}
                                {{^uploadFileResultDto}}
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAADFBMV
                                    EWYmZuCg4WZmpxvcHGW7YJ5AAABTklEQVR4nO3QwQ3DMAwAMavef+cEfUW4FcgReO6w3TM/tnlPDl9Oykk5KS
                                    flpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkp
                                    J+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJO
                                    Skn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk
                                    5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7K
                                    STkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJ/U/Y5txhuw874Aqpr4CHoAAAAABJRU5ErkJggg=="
                                         width="30" class="user-img rounded-circle mr-2">
                                {{/uploadFileResultDto}}
                                <div>
                                    <small class="font-weight-bold text-primary">{{nickname}}</small>
                                    <small>{{updatedDate}}</small>
                                </div>
                            </div>
                            <span style="float:right">
                                <i class="{{#liked}}fas{{/liked}} {{^liked}}far{{/liked}} fa-heart" id="studyCommentLike{{id}}"
                                   style="font-size:24px; color:red;" onclick="toggleLike('studyCommentLike', 'StudyCommentLikeCount', {{id}})"></i>
                                <span id="StudyCommentLikeCount{{id}}">{{likesCount}}</span>
                            </span>
                        </div>
                        <div class="font-weight-bold">{{content}}</div>
                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="reply px-4">
                                {{#isWrittenByMe}}
                                    <small onclick="deleteStudyComment({{id}}, {{detailedStudy.studyResultDto.id}});">Remove</small>
                                {{/isWrittenByMe}}
                                <!--<span class="dots"></span>
                                <small>Reply</small>-->
                            </div>
                            <!--<div class="icons align-items-center">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-check-circle-o check-icon"></i>
                            </div>-->
                        </div>
                    </div>
                {{/detailedStudy.studyComments}}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="shadow p-3 bg-white rounded">
                    <div class="mt-5 d-flex flex-row">
                        {{#uploadFileResultDto}}
                            <img src="/upload/{{uploadFileResultDto.fileName}}" width="30" class="user-img rounded-circle mr-2">
                        {{/uploadFileResultDto}}
                        {{^uploadFileResultDto}}
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAADFBMV
                                    EWYmZuCg4WZmpxvcHGW7YJ5AAABTklEQVR4nO3QwQ3DMAwAMavef+cEfUW4FcgReO6w3TM/tnlPDl9Oykk5KS
                                    flpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkp
                                    J+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJO
                                    Skn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk
                                    5KSflpJyUk3JSTspJOSkn5aSclJNyUk7KSTkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJOSkn5aSclJNyUk7K
                                    STkpJ+WknJSTclJOykk5KSflpJyUk3JSTspJ/U/Y5txhuw874Aqpr4CHoAAAAABJRU5ErkJggg=="
                                 width="30" height="30" class="user-img rounded-circle mr-2">
                        {{/uploadFileResultDto}}
                        <div class="w-100 ml-2 comment-area">
                            <textarea class="form-control" id="studyComment"></textarea>
                            <button class="btn btn-secondary btn-block mt-2 post-btn" id="btn-save-studyComment">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteStudyComment(studyCommentId, studyId) {
        $.ajax({
            type: 'DELETE',
            url: `/api/study/comment/${studyCommentId}`,
            dtaType: 'json',
            contentType: 'application/json; charset=utf-8',
        }).done(function() {
            alert('댓글삭제가 완료되었습니다.');
            window.location.href = '/studys/'+studyId;
        }).fail(function(request) {
            alert(request.responseText);
        })
    }
</script>
{{>layout/footer}}
