{{>layout/header}}
<style type="text/css">
    h4 {
        text-align: center;
    }
</style>
<div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/studys/open">모집중</a></li>
                    <li class="list-group-item"><a href="/studys/close">모집마감</a></li>
                    <li class="list-group-item"><a href="/studys/end">종료</a></li>
                </ul>
            </div>
        </div>
        <div class="card shadow col-md-9" style="min-height:600px;">
            <div class="card-body">
                <h4 class="card-title">{{studyState}}</h4>
                <table class="table table-hover" id='board_list'>
                    <thead>
                    <tr>
                        <th class="text-center d-none d-md-table-cell">스터디 번호</th>
                        <th class="text-center d-none d-md-table-cell">스터디 제목</th>
                        <th class="text-center d-none d-md-table-cell">책 이름</th>
                        <th class="text-center d-none d-md-table-cell">신청현황</th>
                        <th class="text-center d-none d-md-table-cell">날짜</th>
                        <th class="text-center d-none d-md-table-cell">시간</th>
                        <th class="text-center d-none d-md-table-cell">요일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#studys}}
                        <tr>
                            <td class="text-center d-none d-md-table-cell">{{id}}</td>
                            <td class="text-center d-none d-md-table-cell"><a href='/studys/{{id}}'>{{name}}</a></td>
                            <td class="text-center d-none d-md-table-cell">{{bookName}}</td>
                            <td class="text-center d-none d-md-table-cell">{{applyCount}} / {{size}}</td>
                            <td class="text-center d-none d-md-table-cell">{{startDate}} ~ {{endDate}}</td>
                            <td class="text-center d-none d-md-table-cell">{{startTime}} ~ {{endTime}}</td>
                            <td class="text-center d-none d-md-table-cell">{{day}}</td>
                        </tr>
                    {{/studys}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
