{{>layout/header}}
<style type="text/css">
    h4 {
        text-align: center;
    }
</style>
<script>
    function toggleLike(likeId, likeCountId, id) {
        let likeIcon = $("#"+likeId+id);
        let likeCount = $("#"+likeCountId+id);

        //좋아요를 누를 경우
        if(likeIcon.hasClass("far")) {
            $.ajax({
                type: 'POST',
                url: '/api/study/like/' + id,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.addClass("fas");
                likeIcon.removeClass("far");
                likeCount.html(Number(likeCount.html()) + 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }

        //좋아요 취소를 할 경우
        else if(likeIcon.hasClass("fas")) {
            $.ajax({
                type: 'DELETE',
                url: '/api/study/like/' + id,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.removeClass("fas");
                likeIcon.addClass("far");
                likeCount.html(Number(likeCount.html()) - 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }
    }
</script>
<div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/studys/open">모집중</a></li>
                    <li class="list-group-item"><a href="/studys/close">진행중</a></li>
                    <li class="list-group-item"><a href="/studys/end">종료</a></li>
                    <li class="list-group-item">
                        <form class="navbar-form pull-left" action="/studys/{{studyStateCode}}" method="get">
                            <label for="keyword"></label>
                            <input type="text" id="title" name="keyword" placeholder="책 제목을 입력하세요">
                            <button type="submit" class="btn btn-primary btn-sm">검색</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card shadow col-md-9" style="min-height:600px;">
            <div class="card-body">
                <h4 class="card-title">
                    {{#keyword}}
                        {{studyState}}<br><{{.}}>
                    {{/keyword}}
                    {{^keyword}}
                        {{studyState}}
                    {{/keyword}}
                </h4>
                <table class="table table-hover" id='board_list'>
                    <thead>
                    <tr>
                        <th class="text-center d-none d-md-table-cell">번호</th>
                        <th class="text-center d-none d-md-table-cell">제목</th>
                        <th class="text-center d-none d-md-table-cell">책</th>
                        <th class="text-center d-none d-md-table-cell">신청수</th>
                        <th class="text-center d-none d-md-table-cell">첫모임</th>
                        <th class="text-center d-none d-md-table-cell">좋아요</th>
                        <th class="text-center d-none d-md-table-cell">좋아요수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#studys}}
                        <tr>
                            <td class="text-center d-none d-md-table-cell">{{id}}</td>
                            <td class="text-center d-none d-md-table-cell"><a href='/studys/{{id}}'>{{name}}</a></td>
                            <td class="text-center d-none d-md-table-cell">{{bookName}}</td>
                            <td class="text-center d-none d-md-table-cell">{{applyCount}} / {{size}}</td>
                            <td class="text-center d-none d-md-table-cell">{{startDate}} {{startTime}}({{day}})</td>
                            <td class="text-center d-none d-md-table-cell" style="text-align: center;">
                                <div>
                                    <i class="{{#liked}}fas{{/liked}} {{^liked}}far{{/liked}} fa-heart" id="studyLike{{id}}"
                                       style="font-size:24px; color:red;" onclick="toggleLike('studyLike', 'studyLikeCount', {{id}})"></i>
                                </div>
                            </td>
                            <td class="text-center d-none d-md-table-cell" id="studyLikeCount{{id}}">{{likesCount}}</td>
                        </tr>
                    {{/studys}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
