{{>layout/header}}

<h1>스터디 수정</h1>

<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="id"> 스터디 번호 </label>
                <input type="text" class="form-control" id="id" value="{{study.id}}"  readOnly>
            </div>
            <div class="form-group">
                <label for="name"> 스터디 이름 </label>
                <input type="text" class="form-control" id="name" value="{{study.name}}">
            </div>
            <div class="form-group">
                <label for="bookName"> 스터디 책 </label>
                <input type="text" class="form-control" id="bookName" value="{{study.bookName}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookImage"></label>
                <img src="{{study.bookImage}}" id="bookImage" alt="">
            </div>
            <div class="form-group">
                <label for="description"> 설명 </label>
                <input type="text" class="form-control" id="description" value="{{study.description}}">
            </div>
            <div class="form-group">
                <label for="contact"> 연락처 </label>
                <input type="text" class="form-control" id="contact" value="{{study.contact}}">
            </div>
            <div class="form-group">
                <label for="size"> 인원 제한 </label>
                <input type="number" class="form-control" id="size" value="{{study.size}}">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="startDate"> 시작 날짜 </label>
                <input type="date" class="form-control" id="startDate" value="{{study.startDate}}">
            </div>
            <div class="form-group">
                <label for="endDate"> 종료 날짜 </label>
                <input type="date" class="form-control" id="endDate" value="{{study.endDate}}">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <input type="hidden" value="{{study.day}}" id="savedDay">
                <label for="day"> 요일
                    <select id="day">
                        {{#day}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/day}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="startTime"> 시작 시간 </label>
                <input type="time" class="form-control" id="startTime" value="{{study.startTime}}">
            </div>
            <div class="form-group">
                <label for="endTime"> 종료 시간 </label>
                <input type="time" class="form-control" id="endTime" value="{{study.endTime}}">
            </div>
        </form>
        <form>
            <div class="form-group">
                <input type="hidden" value="{{study.studyState}}" id="savedStudyState">
                <label for="studyState"> 스터디 상태
                    <select id="studyState">
                        {{#studyState}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/studyState}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" value="{{study.zone}}" id="savedZone">
                <label for="zone"> 지역
                    <select id="zone">
                        {{#zone}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/zone}}
                    </select>
                </label>
            </div>
        </form>
        <a href="/studys/{{id}}" role="button" class="btn btn-secondary">돌아가기</a>
        <button type="button" class="btn btn-primary" id="btn-update-study">수정</button>
        <button type="button" class="btn btn-danger" id="btn-delete-study">삭제</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/studys.js"></script>
{{>layout/footer}}
