{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/login.css">
<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5 text-danger" style="margin: 150px auto 0px;">
            권한이 없습니다.
        </h1>
    </div>
    <div class="row">
        <div class="title display-5 link" style="margin:20px auto 250px;">
            <a href="/"> 홈으로 </a>
        </div>
    </div>
</div>
{{>layout/footer}}
