<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

    <!-- 공통속성 등록-->
    <Properties>
        <Property name="logFileName">bookclubLog</Property>
        <Property name="consolePatternLayout">%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
        <Property name="filePatternLayout">%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="basePath">~/logs</Property>
    </Properties>

    <!-- 로그 찍는 방법과 file 생성 정책(RollingFile) -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consolePatternLayout}" />
        </Console>
        <RollingFile name="file">
            <FileName>${basePath}/app.log</FileName>
            <FilePattern>${basePath}/app-%d{yyyy-MM-dd-hh}.log</FilePattern>
            <PatternLayout pattern="${filePatternLayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="console" />
        </Root>

        <!-- LOG "com.baeldung*" at TRACE level -->
        <Logger name="com.example.bookclub" additivity="false">
            <AppenderRef ref="file" level="debug" />
            <AppenderRef ref="console" level="info" />
        </Logger>
    </Loggers>
</Configuration>