{{>layout/header}}
<style type="text/css">
    h4 {
        text-align: center;
    }
</style>
<script>
    $(document).ready(function(){
        $(".page").val({{page.currentPage}});
        $(".previous").val({{page.previous}});
        $(".next").val({{page.next}});
        $(".totalPages").val({{page.totalPages}});

        var targetPage = $(".page").val();
        $('.page' + targetPage).html('<strong>' + targetPage + '</strong>');

        var totalPages = $(".totalPage").val();
        var next = $(".next").val();
    })

    function go_targetPage(num, studyState) {
        document.frmList.target = '';
        document.frmList.page.value = num - 1;
        document.frmList.action = "/studies/" + studyState.toLowerCase();
        document.frmList.submit();
    }

    function go_previous(studyState) {
        document.frmList.target = '';
        document.frmList.page.value = $(".previous").val() -1;
        document.frmList.action = "/studies/" + + studyState.toLowerCase();
        document.frmList.submit();
    }

    function go_next(studyState) {
        document.frmList.target = '';
        document.frmList.page.value = $(".next").val() -1;
        document.frmList.action = "/studies" + + studyState.toLowerCase();
        document.frmList.submit();
    }

    function toggleLike(likeId, likeCountId, id) {
        let likeIcon = $("#"+likeId+id);
        let likeCount = $("#"+likeCountId+id);

        //좋아요를 누를 경우
        if(likeIcon.hasClass("far")) {
            $.ajax({
                type: 'POST',
                url: '/api/study/like/' + id,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.addClass("fas");
                likeIcon.removeClass("far");
                likeCount.html(Number(likeCount.html()) + 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }

        //좋아요 취소를 할 경우
        else if(likeIcon.hasClass("fas")) {
            $.ajax({
                type: 'DELETE',
                url: '/api/study/like/' + id,
                dataType: 'json',
                contentType: 'application/json;',
            }).done(function (data) {
                likeIcon.removeClass("fas");
                likeIcon.addClass("far");
                likeCount.html(Number(likeCount.html()) - 1);
            }).fail(function (request) {
                alert(request.responseText);
            });
        }
    }
</script>
<div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <form name="frmList" method="get">
            <input type="hidden" name="page" class="page" value="">
            <input type="hidden" class="totalPages" value="">
            <input type="hidden" class="next" value="">
            <input type="hidden" class="previous" value="">
            <input type="hidden" name="search" class="name"
                {{#StudyListInfoDto.search}}value="{{StudyListInfoDto.search}}"{{/StudyListInfoDto.search}}>
        </form>
        <div class="col-md-2">
            <div class="panel panel-info">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/studies/open">모집중</a></li>
                    <li class="list-group-item"><a href="/studies/close">진행중</a></li>
                    <li class="list-group-item"><a href="/studies/end">종료</a></li>
                    <li class="list-group-item">
                        <form class="navbar-form pull-left" action="/studies/{{StudyListInfoDto.searchStudyStateCode}}" method="get">
                            <label for="search"></label><input type="text" id="search" name="search" placeholder="책 제목을 입력하세요"
                          {{#StudyListInfoDto.search}}value="{{StudyListInfoDto.search}}"{{/StudyListInfoDto.search}}>
                            <button type="submit" class="btn btn-primary btn-sm">검색</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card shadow col-md-9" style="min-height:600px;">
            <div class="card-body">
                <h4 class="card-title">
                    {{StudyListInfoDto.studyState.title}}
                </h4>
                <table class="table table-hover" id='board_list'>
                    <thead>
                    <tr>
                        <th class="text-center d-none d-md-table-cell">번호</th>
                        <th class="text-center d-none d-md-table-cell">제목</th>
                        <th class="text-center d-none d-md-table-cell">책</th>
                        <th class="text-center d-none d-md-table-cell">신청수</th>
                        <th class="text-center d-none d-md-table-cell">첫모임</th>
                        <th class="text-center d-none d-md-table-cell">좋아요</th>
                        <th class="text-center d-none d-md-table-cell">좋아요수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#StudyListInfoDto.studyResultDtos}}
                        <tr>
                            <td class="text-center d-none d-md-table-cell">{{id}}</td>
                            <td class="text-center d-none d-md-table-cell"><a href='/studies/{{id}}'>{{name}}</a></td>
                            <td class="text-center d-none d-md-table-cell">{{bookName}}</td>
                            <td class="text-center d-none d-md-table-cell">{{applyCount}} / {{size}}</td>
                            <td class="text-center d-none d-md-table-cell">{{startDate}} {{startTime}}</td>
                            <td class="text-center d-none d-md-table-cell" style="text-align: center;">
                                <div>
                                    <i class="{{#liked}}fas{{/liked}} {{^liked}}far{{/liked}} fa-heart" id="studyLike{{id}}"
                                       style="font-size:24px; color:red;" onclick="toggleLike('studyLike', 'studyLikeCount', {{id}})"></i>
                                </div>
                            </td>
                            <td class="text-center d-none d-md-table-cell" id="studyLikeCount{{id}}">{{likesCount}}</td>
                        </tr>
                    {{/StudyListInfoDto.studyResultDtos}}
                    </tbody>
                </table>
                <div class="list_paging"  style="text-align: center;">
                    <a class="btn_first" href="javascript:void(0)" onclick="go_targetPage('0', '{{StudyListInfoDto.studyState.code}}')">
                        <img src="http://image.kyobobook.co.kr/new_ink/booknews/FRONT/images/common/pg_prev10.gif" alt="처음">
                    </a>
                    <a class="btn_prev" href="javascript:void(0)" onclick="go_previous('{{StudyListInfoDto.studyState.code}}')">
                        <img src="http://image.kyobobook.co.kr/new_ink/booknews/FRONT/images/common/pg_prev.gif" alt="이전">
                    </a>
                    {{#page.pageNumbers}}
                        <a class="page{{.}}" href="javascript:void(0)" onclick="go_targetPage('{{.}}', '{{StudyListInfoDto.studyState.code}}')">
                            {{.}}
                        </a>
                    {{/page.pageNumbers}}
                    <a class="btn_next" href="javascript:void(0)" onclick="go_next('{{StudyListInfoDto.studyState.code}}')">
                        <img src="http://image.kyobobook.co.kr/new_ink/booknews/FRONT/images/common/pg_next.gif" alt="이후">
                    </a>
                    <a class="btn_last" href="javascript:void(0)" onclick="go_targetPage('{{page.totalPages}}', {{StudyListInfoDto.studyState.code}})">
                        <img src="http://image.kyobobook.co.kr/new_ink/booknews/FRONT/images/common/pg_next10.gif" alt="마지막">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
