{{>layout/header}}

<h1>스터디 수정</h1>

<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="id"> 스터디 번호 </label>
                <input type="text" class="form-control" id="id" value="{{StudyUpdateInfoDto.id}}"  readOnly>
            </div>
            <div class="form-group">
                <label for="name"> 스터디 이름 </label>
                <input type="text" class="form-control" id="name" value="{{StudyUpdateInfoDto.name}}">
            </div>
            <div class="form-group">
                <label for="bookName"> 스터디 책 </label>
                <input type="text" class="form-control" id="bookName" value="{{StudyUpdateInfoDto.bookName}}" readOnly>
            </div>
            <div class="form-group">
                <label for="bookImage"></label>
                <img src="{{StudyUpdateInfoDto.bookImage}}" id="bookImage" alt="">
            </div>
            <div class="form-group">
                <label for="description"> 설명 </label>
                <input type="text" class="form-control" id="description" value="{{StudyUpdateInfoDto.description}}">
            </div>
            <div class="form-group">
                <label for="contact"> 연락처 </label>
                <input type="text" class="form-control" id="contact" value="{{StudyUpdateInfoDto.contact}}">
            </div>
            <div class="form-group">
                <label for="size"> 인원 제한 </label>
                <input type="number" class="form-control" id="size" value="{{StudyUpdateInfoDto.size}}">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="startDate"> 시작 날짜 </label>
                <input type="date" class="form-control" id="startDate" value="{{StudyUpdateInfoDto.startDate}}">
            </div>
            <div class="form-group">
                <label for="endDate"> 종료 날짜 </label>
                <input type="date" class="form-control" id="endDate" value="{{StudyUpdateInfoDto.endDate}}">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <input type="hidden" {{#StudyUpdateInfoDto.days}}{{#selected}}value="{{code}}"{{/selected}}{{/StudyUpdateInfoDto.days}} id="savedDay">
                <label for="day"> 요일
                    <select id="day">
                        {{#StudyUpdateInfoDto.days}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/StudyUpdateInfoDto.days}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="startTime"> 시작 시간 </label>
                <input type="time" class="form-control" id="startTime" value="{{StudyUpdateInfoDto.startTime}}">
            </div>
            <div class="form-group">
                <label for="endTime"> 종료 시간 </label>
                <input type="time" class="form-control" id="endTime" value="{{StudyUpdateInfoDto.endTime}}">
            </div>
        </form>
        <form>
            <div class="form-group">
                <input type="hidden" {{#StudyUpdateInfoDto.studyStates}}{{#selected}}value="{{code}}"{{/selected}}{{/StudyUpdateInfoDto.studyStates}} id="savedStudyState">
                <label for="studyState"> 스터디 상태
                    <select id="studyState">
                        {{#StudyUpdateInfoDto.studyStates}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/StudyUpdateInfoDto.studyStates}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" {{#StudyUpdateInfoDto.zones}}{{#selected}}value="{{code}}"{{/selected}}{{/StudyUpdateInfoDto.zones}} id="savedZone">
                <label for="zone"> 지역
                    <select id="zone">
                        {{#StudyUpdateInfoDto.zones}}
                            <option value="{{code}}" {{#selected}}selected{{/selected}}>
                                {{title}}
                            </option>
                        {{/StudyUpdateInfoDto.zones}}
                    </select>
                </label>
            </div>
        </form>
        <a href="/studies/{{StudyUpdateInfoDto.id}}" role="button" class="btn btn-secondary">돌아가기</a>
        <button type="button" class="btn btn-primary" id="btn-update-study">수정</button>
        <button type="button" class="btn btn-danger" id="btn-delete-study">삭제</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/studies.js"></script>
{{>layout/footer}}
