{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/account.css">
<h1>회원정보 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id"> 회원번호 </label>
                <input type="text" class="form-control" id="id" value="{{account.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="name"> 이름 </label>
                <input type="text" class="form-control" id="name" value="{{account.name}}" readonly>
            </div>
            <div class="form-group">
                <label for="email"> 이메일 </label>
                <input type="text" class="form-control" id="email" value="{{account.email}}" readonly>
            </div>
            <div class="form-group">
                <label for="password"> 현재 비밀번호 </label>
                <input type="password" class="form-control" id="password" value="">
            </div>
            <div class="form-group">
                <label for="newPassword"> 새로운 비밀번호 </label>
                <input type="password" class="form-control" id="newPassword" value="">
            </div>
            <div class="form-group">
                <label for="newPasswordConfirmed"> 새로운 비밀번호 확인 </label>
                <input type="password" class="form-control" id="newPasswordConfirmed" value="">
            </div>
        </form>
        <a href="/users/update/{{account.id}}" role="button" class="btn btn-secondary">돌아가기</a>
        <button type="button" class="btn btn-primary" id="btn-account-update-password">수정</button>
    </div>
</div>
{{>layout/footer}}
