{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/account.css">
<h1>회원정보 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id"> 회원번호 </label>
                <input type="text" class="form-control" id="id" value="{{account.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="uploadFile"> 프로필 사진 </label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 imgUp">
                            <div class="imagePreview">
                                {{#account.uploadFile}}
                                    <img class="imgPreview" src="/images/{{fileName}}" alt="">
                                {{/account.uploadFile}}
                            </div>
                            <label class="btn btn-primary upload">
                                Upload<input type="file" id="uploadFile" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name"> 이름 </label>
                <input type="text" class="form-control" id="name" value="{{account.name}}" readonly>
            </div>
            <div class="form-group">
                <label for="email"> 이메일 </label>
                <input type="text" class="form-control" id="email" value="{{account.email}}" readonly>
            </div>
            <div class="form-group">
                <label for="nickname" style="color:#ff0000;"> 닉네임 (필수) </label>
                <input type="text" class="form-control" id="nickname" value="{{account.nickname}}">
            </div>
            <div class="form-group">
                <label for="password" style="color:#ff0000;"> 비밀번호 (필수) </label>
                <input type="password" class="form-control" id="password" value="">
            </div>
            {{#account.study}}
                <div class="form-group">
                    <label for="study"> 신청 스터디 </label>
                    <input type="text" class="form-control" id="study" value="{{name}}" readonly>
                </div>
            {{/account.study}}
        </form>
        <a href="/" role="button" class="btn btn-secondary">돌아가기</a>
        <button type="button" class="btn btn-warning" onclick="location.href='/users/update/password/{{account.id}}'">비밀번호 수정</button>
        <button type="button" class="btn btn-primary" id="btn-account-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-account-delete">삭제</button>
    </div>
</div>
<script src="/js/app/account.js"></script>
{{>layout/footer}}
