{{>layout/header}}

<h1>회원가입</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="profileImage"> 프로필 사진 </label>
                <input type="text" class="form-control" id="profileImage" placeholder="프로필사진을 입력하세요">
            </div>
            <div class="form-group">
                <label for="name"> 이름 </label>
                <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="password"> 비밀번호 </label>
                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
            </div>
            <div class="form-group">
                <label for="email"> 이메일 </label>
                <input type="text" class="form-control" id="email" placeholder="이메일을 입력하세요">
            </div>
            <button type="button" class="btn btn-primary" id="btn-sendMessage">인증번호 전송</button>

            <div class="form-group">
                <label for="authenticationNumber"> 인증번호 </label>
                <input type="text" class="form-control" id="authenticationNumber" placeholder="인증번호를 입력하세요">
            </div>

            <div class="form-group">
                <label for="nickname"> 닉네임 </label>
                <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}
