{{>layout/header}}
<div class="container-fluid" style="margin-top: 100px; text-align: center">
    <div class="row">
        <div class="card shadow col-md-12">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;"></h4>
                <h6> 이미지, 글씨 등을 클릭하면 해당 기사를 볼 수 있습니다. </h6>
                <div class="gallery-wrapper">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
