{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/interviews.css">

<div class="container-fluid" style="margin-top: 100px; text-align: center">
    <div class="row">
        <div class="card shadow col-md-12">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;"></h4>
                <form name="frmList" method="post">
                    <input type="hidden" name="targetPage" value="1">
                </form>
                <div class="list_button_wrap">
                    <div class="list_paging">
                        <a class="btn_prev" href="javascript:void(0)">
                            <img src="http://image.kyobobook.co.kr/ink/images/common/btn_prev03_on.gif" alt="이전">
                        </a>
                        <a class="btn_next" href="javascript:void(0)">
                            <img src="http://image.kyobobook.co.kr/ink/images/common/btn_next03_on.gif" alt="이후">
                        </a>
                    </div>
                </div>
                <ul class="list_author_interview">
                    {{#interviews}}
                        <hr>
                        <li>
                            <div class="photo">
                                <a href="{{interviewUrl}}">
                                    <img src="{{imgUrl}}" width="230px" height="200px" alt="">
                                </a>
                            </div>
                            <div class="author">
                                    {{author}}
                            </div>
                            <div class="title">
                                <a href="{{interviewUrl}}">
                                    <strong>{{title}}</strong>
                                </a>
                            </div>
                            <div class="date">
                                    {{date}}
                            </div>
                            <div class="content">
                                <a href="{{interviewUrl}}">
                                    {{content}}
                                </a>
                            </div>
                        </li>
                    {{/interviews}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/js/app/interviews.js"></script>
{{>layout/footer}}
