{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/login.css">
<div class="login">
    <form method="POST" action="/loginprocess">
        <label for="username"><span>이메일</span></label>
        <input type="email"
               id="username"
               name="username"
               placeholder="이메일을 입력하세요">

        <label for="password"><span>비밀번호</span></label>
        <input type="password"
               id="password"
               name="password"
               placeholder="비밀번호를 입력하세요">
        <p></p>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> 로그인 기억하기
            </label>
        </div>
        <button type="submit">로그인</button>
        <a id="custom-login-btn" href="javascript:loginWithKakao()">
            <img
                    src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                    alt="카카오 로그인 버튼"
                    width="300"
                    height="70"
            />
        </a>
        <li onclick="kakaoLogout();">
            <a href="javascript:void(0)">
                <span>카카오 로그아웃</span>
            </a>
        </li>
        {{#loginError}}
            <div class="error-message">
                <span> 아이디나 패스워드가 올바르지 않습니다. </span>
            </div>
        {{/loginError}}
        {{#loginRequired}}
            <div class="error-message">
                <span> 로그인이 필요합니다. </span>
            </div>
        {{/loginRequired}}
    </form>
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('aaeec1db77858a24cf1b55310ebabaf1'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function loginWithKakao() {
        Kakao.Auth.login({
            success: function (response) {
                new Promise((resolve, reject)=>{
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        resolve(response);
                    }
                });
                }).then((response) => {
                    var email = response.kakao_account.email;
                    var data = {email : email};
                    $.ajax({
                        type: 'POST',
                        url: '/api/kakao-login',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        async: false,
                        complete: function(response) {
                            if(response.responseJSON.authenticationNumber === null) {
                                window.location.href='/';
                            } else {
                                window.location.href='/users/save&email=' + data.email
                                        + '&authenticationNumber=' + response.responseJSON.authenticationNumber;
                            }
                            resolve(response);
                        }
                    });
                });
            },
            fail: function (error) {
                console.log(error);
                window.location.herf = '/login-required';
            }
        })
    }

    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                    console.log(response);
                },
                fail: function (error) {
                    console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined);
        }
    }
</script>
{{>layout/footer}}
