{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/js/app/login.css">

<div class="login">
    <span>Email</span>
    <input type="email" id="email" placeholder="Email Address">
    <span>Password</span>
    <input type="password" id="password" placeholder="Password">
    <p></p>
    <button id="btn-login">Log in</button>
</div>

{{>layout/footer}}
